---
import "../css/global.css"

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
export interface Props {
	title?: string
	twitterCard?: string
}

const { 
	title = "No title given", 
	twitterCard="https://matthewviamusic.com/images/docsimages/styleguide/3.png" 
} = Astro.props as Props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel='shortcut icon' href='https://easycss.github.io/favicon/favicon.png' type='image/x-icon' />

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@matthewviamusic">
		<meta name="twitter:creator" content="@matthewviamusic">
		<meta name="twitter:title" content="Newly released creative media content">
		<meta name="twitter:description" content="Listeners delighted in hearing the interesting and original sounds. The mood was high and the ambience was forever memorable.">
		<meta name="twitter:image" content={twitterCard}>
		<meta name="twitter:image:alt" content="A collage of album covers from the catalogue of released musical recordings.">

		<title>{title}</title>
	</head>
	<body id="hasScrollBar">
	<Header />
		
			<slot />
		
	<Footer />
	</body>
</html>

<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		/* background-color: #F6F6F6; */
	}
</style>


<script>
// if has no scrollbar - add padding right 15px to compensate

// let body = document.getElementById('hasScrollBar');

// 	if(document.body.clientWidth > 840 ){
// 		window.innerWidth > document.body.clientWidth
// 		? body.style.paddingRight = "" 
// 		: body.style.paddingRight = "15px" 
// 	}
</script>